<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}"><strong>Brandon Lewis</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/projekte' | relative_url }}">Projekte</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/blog' | relative_url }}">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/ueber-mich' | relative_url }}">Über mich</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ '/assets/docs/lebenslauf-de.pdf' | relative_url }}">Lebenslauf</a></li>
      </ul>
      {% include language-switcher.html %}
    </div>
  </div>
</nav>
